<!DOCTYPE html>
<html>
<head>
	{{> _head}}
	<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <title>Welcome to Notes!</title>
		{{> _style}}
   </head>
<body>
    {{{body}}}
  </body>
</html>
<style>
body {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.iconify {
	margin-right: 5px;
}
</style>