<!DOCTYPE HTML>
<html>
    <head>
				{{> _head}}
        <title>Notes</title>
				{{> _style}}
    </head>
    <body>
			  {{> _header}}
				<div class="container" style="margin-top: 20px">
        	{{{body}}}
				</div>
    </body>
</html>