<img id="icon" src="{{ imgSrc }}" style="border-radius: 100%;"><h1>Dashboard</h1>
{{> _dashboard}}
<style>
	#icon {
  position: absolute;
  transform: translate(10%,10%);
	width: 80px;
	height: 80px;
	object-fit: cover;
}
</style>