<h1>Welcome to notes!</h1>
<p>Create notes with ease! Edit them, delete them, use markdown in them! Do whatever!</p>
<button onclick='window.location.href="/auth/github"'><span class="iconify" data-icon="bi:google"></span>Login With Google</button>