<form action="/notes/update/{{note._id}}" method="POST">
		<h2>Edit note</h2>
    <input type="hidden" name="_method" value="PUT">
		{{#if note.isPublic}}
			<label><input type="checkbox" name="isPublic" checked> Public</label>
		{{/if}}
		{{#unless note.isPublic}}
			<label><input type="checkbox" name="isPublic"> Public</label>
		{{/unless}}
    <div>
        <input name="title" value="{{note.title}}" type="text" required>

    </div>
    <div>
        <textarea name="body" required>{{note.body}} </textarea>

    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>
